<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "UA-145358157-1")
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>cheat docker-compose</title>
    <meta name="description" content="Help using Docker and kubernetes." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css" />
  </head>

  <body>
    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png" />
        <b>daemon</b>
      </a>

      <a href="#commands"> Commands</a>

      <a href="#more-docker"> More docker</a>

      <hr />

      <a href="/elioangels">
        <img src="/elioangels/apple-touch-icon.png" />
        <b>elioangels</b>
      </a>

      <nav></nav>
    </nav>

    <h1 id="cheat-docker-compose">cheat docker-compose</h1>
    <ul>
      <li>
        <a href="https://docs.docker.com/compose/"
          >https://docs.docker.com/compose/</a
        >
      </li>
      <li>
        <a href="https://docs.docker.com/compose/gettingstarted/"
          >https://docs.docker.com/compose/gettingstarted/</a
        >
      </li>
      <li>
        <a href="https://gabrieltanner.org/blog/docker-compose"
          >Definitive Guide to Docker compose</a
        >
      </li>
    </ul>
    <p>Using Compose is basically a three-step process:</p>
    <ol>
      <li>
        Define your app&#39;s environment with a Dockerfile so it can be
        reproduced anywhere.
      </li>
      <li>
        Define the services that make up your app in docker-compose.yml so they
        can be run together in an isolated environment.
      </li>
      <li>
        Run docker-compose up and Compose starts and runs your entire app.
      </li>
    </ol>
    <pre><code class="language-shell">cd eliobones/appname/bones
docker-compose up
docker-compose build
docker-compose down --volumes
# Showing typical node setup
docker-compose ps
docker-compose run web env
docker-compose stop
docker-compose down --volumes
</code></pre>
    <h2 id="commands">Commands</h2>
    <pre><code>build    Build or rebuild services
help     Get help on a command
kill     Kill containers
logs     View output from containers
port     Print the public port for a port binding
ps       List containers
pull     Pulls service images
rm       Remove stopped containers
run      Run a one-off command
scale    Set number of containers for a service
start    Start services
stop     Stop services
restart  Restart services
up       Create and start containers
down     Stops and removes containers
</code></pre>
    <h2 id="more-docker">More docker</h2>
    <pre><code class="language-shell">docker version --format &quot;v{{.Client.Version}}&quot;
&gt; Client:
&gt; Version:           19.03.13
&gt; API version:       1.40
NAMES
docker version --format &quot;v{{.Client.Version}}&quot;
&gt; v19.03.13


docker-compose logs

docker network ls
docker network create elionet

docker container kill mongo-db_mongo-express_1
docker rm

docker run -d
  --network elionet \
  --name eliodb-mongo \
  -e MONGO_INITDB_ROOT_USERNAME=mongoadmin \
  -e MONGO_INITDB_ROOT_PASSWORD=letmein \
  mongo

docker ps -a
docker stop 61b2dd65753e
docker rm 61b2dd65753e
</code></pre>
    <pre><code>for c in 22e0fcffbda4 406499b30932
  docker stop  c
  docker rm  c
end
</code></pre>

    <footer>
      <a href="https://gitlab.com/elioangels/daemon/">GitLab</a> |
      <a href="contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-daemon-logo.png" />
      <label>&copy; 2023 Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
