<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "UA-145358157-1")
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Cheat kubectl</title>
    <meta name="description" content="Help using Docker and kubernetes." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css" />
  </head>

  <body>
    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png" />
        <b>daemon</b>
      </a>

      <a href="#monitoring"> Monitoring</a>

      <a href="#interacting"> Interacting</a>

      <hr />

      <a href="/elioangels">
        <img src="/elioangels/apple-touch-icon.png" />
        <b>elioangels</b>
      </a>

      <nav></nav>
    </nav>

    <h1 id="cheat-kubectl">Cheat kubectl</h1>
    <p>
      <a href="https://docs.bitnami.com/kubernetes/get-started-kubernetes/"
        >https://docs.bitnami.com/kubernetes/get-started-kubernetes/</a
      >
    </p>
    <pre><code class="language-shell">kubectl get nodes
&gt; NAME       STATUS   ROLES    AGE     VERSION
&gt; minikube   Ready    master   8m44s   v1.19.4

kubectl cluster-info
&gt; Kubernetes master is running at https://192.168.49.2:8443
&gt; KubeDNS is running at https://192.168.49.2:8443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy
&gt;
&gt; To further debug and diagnose cluster problems, use &#39;kubectl cluster-info dump&#39;.

kubectl -n kube-system logs -l component=express
</code></pre>
    <h2 id="monitoring">Monitoring</h2>
    <pre><code class="language-shell">kubectl get deployment
# With typical output
helm list
&gt; NAME           NAMESPACE    REVISION    UPDATED                                    STATUS      CHART             APP VERSION
&gt; eliobones      default      1           2020-11-15 13:32:46.656883053 +0200 EET    deployed    node-13.1.2       10.23.0
&gt; eliomongodb    default      1           2020-11-15 13:26:34.722042116 +0200 EET    deployed    mongodb-10.0.1    4.4.1

# With typical output
kubectl get svc
&gt; NAME              TYPE           CLUSTER-IP      EXTERNAL-IP     PORT(S)          AGE
&gt; eliobones-node    LoadBalancer   10.110.48.172   10.110.48.172   80:30465/TCP     39m
&gt; eliomongodb       ClusterIP      10.101.77.111   &lt;none&gt;          27017/TCP        68m
&gt; hello-eliobones   LoadBalancer   10.111.33.51    10.111.33.51    8080:32096/TCP   13m
&gt; kubernetes        ClusterIP      10.96.0.1       &lt;none&gt;          443/TCP          71m
kubectl get svc | grep eliobones-node

# With typical output
kubectl get pods
&gt; NAME                           READY   STATUS    RESTARTS   AGE
&gt; eliomongodb-778bfb8dc5-x8h5s   1/1     Running   0          15m
</code></pre>
    <h2 id="interacting">Interacting</h2>
    <p>Obtain the public IP address of the load balancer service:</p>
    <pre><code class="language-shell">kubectl get svc -w eliobones-node --namespace default
# As envvar
set BONES (kubectl get svc --namespace default eliobones-node --template &quot;{{ range (index .status.loadBalancer.ingress 0) }}{{.}}{{ end }}&quot;)
export BONES=$(kubectl get svc --namespace default eliobones-node --template &quot;{{ range (index .status.loadBalancer.ingress 0) }}{{.}}{{ end }}&quot;)
echo &quot;eliobones URL: http://$BONES/&quot;
&gt; &quot;eliobones URL: 10.110.48.172&quot;
</code></pre>
    <p>Now you can interact with the API.</p>
    <pre><code class="language-shell">curl -X GET http://$BONES/schema/Thing/
# And with MongoDb
kubectl run --namespace default mongodb-client --rm --tty -i --restart=&#39;Never&#39; --image docker.io/bitnami/mongodb:4.2.3-debian-10-r31 --command -- mongo mydb --host mongodb --authenticationDatabase mydb -u myapp -p myapp --eval &quot;db.Thing.find()&quot;
</code></pre>
    <pre><code class="language-shell"># To connect to your database from outside the cluster
kubectl port-forward --namespace default svc/mongodb 27017:27017 &amp;
</code></pre>

    <footer>
      <a href="https://gitlab.com/elioangels/daemon/">GitLab</a> |
      <a href="contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-daemon-logo.png" />
      <label>&copy; 2023 Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
